
body {
    background-color: rgb(43, 41, 41);
    margin-left: 5%;
}

h1 {
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red
}

p {
    border-style: groove;
    border-width: 10px;
    border-color: red;
    background-color: orangered;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 2vw;
}

form {
    color: red;
    margin-bottom: 2vw;
}

fieldset{
    width: 40vw;
}